@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  max-width: 100%;
  padding: 0.8em;
  color: white;
  border: none;
  border-radius: 1vw;
  background-color: mediumaquamarine;
  font-size: 1.2rem;

  i {
    font-size: 1em;
    color: inherit;
    padding-right: 0.5em;
  }

  &:hover {
    cursor: pointer;
    i { color: #58181f; }
  }
}

svg {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  display:inline-block;
}
