.landing-content {
  margin-top: 10vw;
  margin-bottom: 2vw;
}

h1 {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 200;
  text-align: center;
  margin: 1em 0;
  font-size: 2.5vw;
}

h4 {
  position: absolute;
  top: 1em;
  right: 2em;
}

.search-container {
  width: 375px;
  background-color: #fff;
  margin: 10vw auto;
  margin-bottom: 0;

  .tabs {
    width: fit-content;
    display: flex;
    gap: 1vw;
    
    p {
      padding: 0.75em 1em;
      background-color: rgba(225, 225, 225, 0.2);
      border: solid transparent;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-weight: 500;
      color: rgb(125, 125, 125);

      &:hover {
        cursor: pointer;
      }
    }

    .selected {
      background-color: rgba(25, 25, 25, 0.9);
      color: #fff;
    }
  }
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 0.25rem 0.5rem;
  padding-left: 1.25rem;
  border: 0.5em solid rgba(25, 25, 25, 0.9);
  padding: 0.25em 0.75em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;

  input {
    border: none;
    flex: 1;
    max-width: 98%;
    font-size: 1.4rem;

    &:focus {
      outline: none;
    }
  }
}

#nothing-found {
  font-size: clamp(1.4rem, 1vw, 2rem);
  font-weight: 500;
  color: rgb(95, 94, 94);
  text-align: center;;
}

#nothing-found-img {
  width: 30em;
  height: 30em;
  margin: 0 auto;
}

@media (max-width: 400px) {
  #nothing-found {
    margin-top: 10em;
  }
  #nothing-found-img {
    margin-left: -3vw;
  }
}
