.search-box {
  width: fit-content;
  background-color: #fff;
  margin: 1vw auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 0.25rem 0.5rem;
  padding-left: 1.25rem;
  border: 2px solid rgba(155, 144, 144, 0.2);
  padding: 0.25em 0.75em;
  border-radius: 1vw;

  i {
    color: #767676;
    font-size: 1.6rem;
  }

  input {
    border: none;
    flex: 1;
    max-width: 98%;

    &:focus {
      outline: none;
    }
  }
  
  .btn {
    border: none;
    border-radius: 1vw;
    background-color: mediumaquamarine;

    i {
      color: #fff;
      padding-right: 0.5em;
    }

    &:hover {
      cursor: pointer;
      i { color: #58181f; }
    }
  }
}
