.search-container {
  width: 375px;
  background-color: #fff;
  margin: 1vw auto;

  .tabs {
    width: fit-content;
    display: flex;
    gap: 1vw;
    
    p {
      padding: 0.75em 1em;
      margin-bottom: 1vw;
      background-color: rgba(225, 225, 225, 0.2);
      border: solid transparent;
      border-radius: 5px;
      font-weight: 600;
      color: rgb(125, 125, 125);

      &:hover {
        cursor: pointer;
      }
    }

    .selected {
      background-color: rgba(225, 225, 225, 0.9);
      color: rgb(25, 25, 25);
    }
  }
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 0.25rem 0.5rem;
  padding-left: 1.25rem;
  border: 2px solid rgba(155, 144, 144, 0.2);
  padding: 0.25em 0.75em;
  border-radius: 1vw;

  input {
    border: none;
    flex: 1;
    max-width: 98%;
    font-size: 1.4rem;

    &:focus {
      outline: none;
    }
  }
}
