.product-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(10, 10, 10, 0.1);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  align-items: center;
  padding: 2em 1em;
  width: 350px;
  height: fit-content;
  margin: 0 auto;
}

.product-img {
  width: 150px;
  min-width: 100px;
  height: fit-content;
  margin: 0.5em 0;

  img {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
  }
}

.product-details {
  min-width: 250px;
  flex: 1;
  font-weight: 200;
  line-height: 1.5;
  font-size: 1.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0.5em;
  gap: 0.5em;

  h3 {
    font-size: 1.8rem;
    height: 40px;
    line-height: 1;
  }
  
  #product-description {
    margin-bottom: 1em;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; 

    button {
      background-color: #000;
    }
  }
}

.product-tags {
  p {
    span {
      font-weight: bold;
    }
  }
}
